[Unit]
Description=RClone Service
PartOf=gmedia.service
RequiresMountsFor=/home

[Service]
Type=notify
Environment=RCLONE_CONFIG=/home/lalit/.config/rclone/rclone.conf
ExecStart=/bin/bash /home/lalit/.dotfiles/shared/scripts/rclone-mount
ExecStop=/bin/bash /home/lalit/.dotfiles/shared/scripts/rclone-unmount
Restart=on-failure

[Install]
WantedBy=gmedia.service
