[Unit]
Description=gmedia find
PartOf=gmedia.service

# This just simple does a complete walk of the file system to load the directory structure into the dir-cache

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/find /media/gsuite-crypt > /home/lalit/.local/logs/gmedia-find.txt 2>&1"
# This service shall be considered active after start
RemainAfterExit=yes

[Install]
# Components of this application should be started at boot time
WantedBy=gmedia.service
